{% extends "base.html" %}

{% block title %}About us - BrainRush{% endblock %}

{% block content %}
<section style="padding: 2rem;">
    <h2>About Us</h2>
    <p>
        <strong>BrainRush</strong> - is an educational and entertaining web application containing a collection of intellectual mini-games
        for the development of logic, memory and attentiveness
    </p>

    <p>
        We have created a platform where every user can not only have fun,
        but also train their brain, track their own progress, and compete
        with other players.
    </p>

    <h3>Our team</h3>
    <ul>
        <li><strong>Yakymov Illia</strong> - logic development, Flask, databases</li>
        <li><strong>Samoylo Taras</strong> - design, layout, interface adaptation</li>
    </ul>

    <h3>Project goal</h3>
    <p>
        To promote the development of cognitive skills through interactive games
        and prove that learning can be interesting and exciting.
    </p>
</section>
{% endblock %}